<h1>Add a Scotch!</h1>

<form action="/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="age">Age:</label>
  <input type="text" name="age">

  <label for="abv">Proof </label>
  <input type="number" name="abv">
<br><br>


  <label for="region">Pick a Region</label>
  <input type="radio" name="region" value="Islands" /> Islands

  <input type="radio" name="region" value="Speyside"  > Speyside

  <input type="radio" name="region" value="Highlands"  > Highlands

  <input type="radio" name="region" value="Lowlands"  /> Lowlands

  <input type="radio" name="region" value="Islay"  > Islay

  <input type="radio" name="region" value="Campbeltown" > Campbeltown





  <input type="submit" value="Add Scotch!">
</form>
