<h1>Hello!!!!</h1>

  <a href="/user/login">Log In </a>
  <a href="/user/singup">Signup</a>




<h1>Testing</h1>
<% @users.each do |user| %>

  <li>
    <a href="/user/<%= user.slug %>">   <%= user.username %></a>
    </li>
  <% end %>


  <% @scotches.each do |scotch| %>
    <li>
    <a href="/scotch/<%= scotch.slug %>"><%= scotch.name %> </a>

    </li>




<% end %>
